body {
    margin: 0;
}

h1 {
    font-size: 4vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: .25em 0;
    color: #333;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

#wrapper > * {
    margin: 0 2em;
}

#output {
    display: flex;
    flex-direction: column;
}

#output input {
    border: none;
    font-family: 'Courier New', Courier, monospace;
}